.fancy-font {
    font-family: "K2D", sans-serif;
}

body {
    background-image: url("./images/marble.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.text-change {
    color: white;
}

.line-divider {
    border: 3px solid gray;
}

.center-pills {
    margin-top: 11rem;
}

.change-opaque {
    opacity: 0.32px;
}

.text-color {
    color: black;
}

.icon {
    color: white;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.different-white {
    color: white;
}

.rent-image {
    width: 200px;
}

@media screen and (min-width: 600px) {
    .playbill-details {
        display: flex;
    }
    .playbill-info {
        display: flex;
    }
    .home-image {
        width: 1095px;
    }
    .rent-image {
        width: 900px;
    }
}
